.logo{
    background-image: url(../images/a_image.jpg);
    height: 1000px;
}
.services{
    background-image: url(../images/b_image.jpg);
    height: 200px;
    color: white;
}
.aboutUs{
    text-align: center;
}
.contacts{
    background-image: url(../images/c_image.jpg);
    height: 500px;
  

}
/* .icons{
    padding-right: 50%;
} */
.forms{
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}