.logo{
    background-image: url(../images/a_image.jpg);
    height: 1000px;
    /* width: 2000px; */
    /* background-size: cover;
    background-repeat: no-repeat; */
}
body{
    text-align: center;
}
.services{
    background-image: url(../images/b_image.jpg);
    height: 200px;
    color: white;
}
.aboutUs{
    text-align: center;
}
.contacts{
    background-image: url(../images/c_image.jpg);
    height: 500px;
  

}
.icons{
    padding: 50px 0px 0px 350px;
}
.forms{
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}
/* .dev{
    padding: 0px 0px 0px 0px;
} */
.h2{
    text-align: center;
}
/* .par{
    padding-left: 1000px 10px 500px 0px;
} */